body {
    background-color: #f4e8fd; /* Light lilac background */
    margin-top: 50px;
    font-family: 'Lato', sans-serif; /* Keep the font */
}

.item {
    background-color: #fff; /* White background */
    padding: 20px; /* Increased padding for more space */
    margin-bottom: 20px; /* Wider spacing between items */
    border: 1px solid #d1abff; /* Lilac border */
    border-radius: 5px;
    box-shadow: 0 0 1em #d1abff; /* Lilac box shadow */
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #ae7aff; /* Lighter lilac box shadow on hover */
}

.item.completed {
    text-decoration: line-through;
    color: #8c5dbf; /* Darker lilac text color for completed items */
}

.toggles {
    color: #8c5dbf; /* Darker lilac text color for the toggles */
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #8c5dbf; /* Darker lilac border on focus */
}

.add-button {
    background-color: #8c5dbf; /* Lilac background for the "Add" button */
    color: #fff; /* White text color for the "Add" button */
    padding: 10px 20px; /* Adjust padding to fit the button content */
    border: none; /* Remove the border */
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #ae7aff; /* Lighter lilac background on hover */
}
